.header {
  margin-bottom: 2.5rem;
  position: relative;
  z-index: 15;

  @include breakpoint('mobile') {
    margin-bottom: 2rem;
  }

  .menu-wrap {
    position: relative;
    text-align: center;
  }

  .flex-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title {
    display: inline-block;
    font-size: 1.1rem;
    cursor: pointer;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

    &:hover {
      font-style: italic;
    }

    @include breakpoint('mobile') {
      font-size: 1.2rem;
    }
  }

  .change + .title {
    @include breakpoint('mobile') {
      font-style: italic;
    }
  }

  .menu-outline {
    position: relative;
  }

  .menu {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
    left: 0;
    top: 4px;
    z-index: 10;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background-color: #fff;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

    &.open {
      max-height: 1000px;
      margin-bottom: 5px;
      margin-left: -50vw;
      margin-right: -50vw;
      margin-top: 0;
      padding-top: 5px;
      width: 100vw;
      top: 0;
      left: 50%;
      right: 50%;

      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
    }

    .menu-item {
      &.current-menu-item {
        font-weight: bold;
      }

      &:last-child {
        margin-bottom: 8px;
      }

      a {
        padding-bottom: 0;
        padding-top: 0;
        text-decoration: none;
        cursor: pointer;
        font-size: 1.1rem;
        height: 100%;
        display: block;
        font-family:  $font-family;

        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -ms-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;

        &:hover {
          font-family: $font-family-italic;
        }

      }
    }
  }
}

.main-menu-overlay {
  display: none !important;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  @include breakpoint('tablet') {
    display: block !important;
  }


  &.hide {
    display: none !important;
  }
}

.burger-icon {
  display: none;

  @include breakpoint('mobile') {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 1px;
  }
}

.stripe {
  @include breakpoint('mobile') {
    width: 13px;
    height: 1px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
    border-radius: 3px;
  }
}

.change .stripe.one {
  @include breakpoint('mobile') {
    transform: rotate(-45deg) translate(-4px,2px);
  }
}

.change .stripe.two {
  @include breakpoint('mobile') {
    opacity: 0;
  }
}

.change .stripe.three {
  @include breakpoint('mobile') {
    transform: rotate(45deg) translate(-5px,-3px);
  }
}
