.mfp-container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.mfp-bg {
  opacity: .95;
  background-color: #fff;

  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.mfp-content {
  background-color: #fff;
  width: 90%;

  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;

  @include breakpoint('mobile') {
    height: 98%;
  }

  .content {
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;

    @include breakpoint('mobile') {
      padding-top: 15%;
    }
  }

  /** Informations Text Modal **/
  &.information-text-modal {
    padding: 6rem;
    text-align: center;
    height: 100vh;
    max-width: 100vw;

    @include breakpoint('mobile') {
      padding: 2rem;
      height: auto;
      position: relative;
    }

    .product-information-text {
      height: 100%;
      max-width: 617px;
      margin: 0 auto;
      text-align: left;
      position: relative;
    }
  }
}

button.mfp-close {
  cursor: pointer;
  text-indent: -9999px;
  background-image: url(../img/cross.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  color: #000;
  opacity: 1;
  z-index: 1050;
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 1;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}