.swipaple-text-wrap {
  @include breakpoint('mobile') {
    height: calc(100vh - 7rem);
    padding-top: 22px;
    padding-left: 14px;
    padding-right: 14px;
  }

  @include breakpoint('tablet' , 'min') {
    padding-top: 50px;
    //padding-left: 14px;
    //padding-right: 14px;
  }

  @include breakpoint('desktop' , 'min') {
    padding-top: 0;
  }
}

.swipeable-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 75vh;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
  margin-right: 30px;

  @include breakpoint('tablet' , 'max') {
    margin-right: 0;
    align-content: flex-start;
    height: 70vh;
  }

  @include breakpoint('mobile' , 'max') {
    height: 100%;
  }

  @include breakpoint('tablet' , 'min') {
    height: 87vh;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  @include breakpoint('desktop' , 'min') {
    height: 75vh;
    margin-left: 0;
    margin-right: 0;
  }

  &.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

    .handswipe {
      display: none;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  > h2 {
    page-break-before: always;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 18px;
    margin-right: 2em;
    width: 30%;
  }

  > p {
    width: 30%;
    margin-right: 2em;
    margin-bottom: 1.5rem;

    &:only-child {
      width: 100%;
      margin-right: 0;
    }

    @include breakpoint('mobile') {
      margin-right: 0;
    }
  }
}

.handswipe > img {
  max-width: 50px;
}

.swipe {
  position: absolute;
  right: -5px;
  top: calc(50% - 40px);
  width: 60px;
  transform: translateY(-50%) translateX(50%) rotate(180deg);
  display: none;
}

@media (max-width:768px) {
  .swipeable-text {
    flex-direction: row;

    > h2,
    > p {
      display: block;
      width: 100%;
    }

    .handswipe {
      display: none;
    }
  }
}
