/*.mfp-content {
  &.information-text-modal {
    padding: 6rem;
    text-align: center;
    height: 70vh;
    max-width: 700px;

    @include breakpoint('mobile') {
      padding: 2.5rem;
      height: 100%;
      box-shadow: none;
    }

    .product-information-text {
      height: 100%;
    }
  }
}*/