.tiles {
  height: 70vh;

  @include breakpoint('desktop', 'min') {
    height: 75vh;
  }

  a {
    text-align: center;
    font-family: $font-family;

    p {
      width: 100%;
    }
  }

  .item {
    cursor: pointer;
    display: block;
    position: relative;
    height: 100%;
  }

  .item-wrap {
    @include breakpoint('desktop', 'min') {
      padding-right: 9px;
      padding-left: 9px;
    }
  }

  .slick-arrow {
    top: calc(50% - 23px);

    &.slick-prev {
      @include breakpoint('desktop', 'min') {
        top: 50%;
        transform: translate(-82%, -50%) rotate(180deg);
      }
    }

    &.slick-next {
      @include breakpoint('desktop', 'min') {
        top: 50%;
        transform: translate(82%, -50%);
      }
    }
  }

  .slick-dots {
    margin-top: 1.5rem;
    list-style: none;
    padding: 0;
    text-align: center;

    .title {
      font-family: $font-family-italic;
      margin-right: 3px;
    }
  }
}