.tiles {
  height: 70vh;
  padding-right: 30px;
  padding-left: 30px;

  @include breakpoint('desktop', 'min') {
    height: 75vh;
  }

  @include breakpoint('tablet', 'max') {
    padding-right: 15px;
    padding-left: 15px;
  }

  @include breakpoint('mobile', 'max') {
    height: calc(100vh - 7rem);
    padding-right: 15px;
    padding-left: 15px;
  }

  a {
    text-align: center;
    font-family: $font-family;

    p {
      width: 100%;
    }
  }

  .item {
    cursor: pointer;
    display: block;
    position: relative;
    height: 100%;

    @include breakpoint('tablet', 'max') {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    @include breakpoint('mobile', 'max') {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .item-wrap {
    @include breakpoint('desktop', 'min') {
      padding-right: 9px;
      padding-left: 9px;
    }
  }

  .slick-arrow {
    top: calc(50% - 23px);

    &.slick-prev {
      @include breakpoint('tablet', 'max') {
        left: -25px;
      }

      @include breakpoint('desktop', 'min') {
        top: 50%;
        transform: translate(-82%, -50%) rotate(180deg);
      }
    }

    &.slick-next {
      @include breakpoint('tablet', 'max') {
        right: -25px;
      }

      @include breakpoint('desktop', 'min') {
        top: 50%;
        transform: translate(82%, -50%);
      }
    }
  }

  .slick-dots {
    margin-top: 1.5rem;
    list-style: none;
    padding: 0;
    text-align: center;

    .title {
      font-family: $font-family-italic;
      margin-right: 3px;
    }
  }

  .slick-list {
    @include breakpoint('mobile', 'max') {
      height: calc(100% - 40px);
    }
  }

  .slick-arrow {
    @include breakpoint('mobile', 'max') {
      top: 50%;
      margin-top: -22px;
    }
  }
}